{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}
{% block body %}
<div class="container-fluid w3-white">
    <img src="/static/13.jfif" height="310" width="300" class="d-block w-100" alt="...">
  <h2>About Us</h2>
  <h5>Good taste is important. Honest ingredients, even more so.<br>
Which is why, because we make it our mission to bring
you the most delightful of ice creams, ranging from the exotic to the
innovative. Our original ‘Indian Inspirations’ range is a case in
point, boasting of innovative ice creams such as Rajbhog ice cream,Kulfi,Vanilla+Chocolate,Chocolate,Family pack,Chocolate Kulfi and many more. In
our entire range of offerings, we use only  Pure Milk and 100% Natural
Ingredients.<br>
No artificial flavors, no coloring agents and zero preservatives:
Honestly Natural is not just our motto, it’s also our promise. Through
the use of pure milk, natural ingredients and our hand-crafted
production process, we bring you a range of enthralling tastes that you
shall find only with us.</h5>
 <img src="/static/14.jfif" height="310" width="300" class="d-block w-100" alt="...">
  <p><h5>All the ingredients are hand-picked, and the fruits are manually cleaned and whole fruits are used in production. That’s the reason why we call it ‘Handcrafted Natural Ice Creams’. Since, there are no preservatives in our ice cream, the shelf life of our product is just 45 days. When compared with other brands, which have a longer shelf life, it is a herculean effort to manufacture, distribute and sell our ice cream across the nation within 45 days. With more experience and better processes, we have been successful in overcoming various challenges. But once you taste our ice creams, you would agree with us that all the challenges were worth it.</h5>
</div>

{% endblock body %}