{% extends 'base.html' %}
{% block title %} Contact Us {% endblock title %}
{% block body %}
<body background="/static/12.jfif">
<div class="et_pb_text_inner px-5 my-3"><h2>Address</h2>
<p>A-70 Near LG showroom Govindpuram<br /> Ghaziabad,Uttar pradesh <br>201013 India</p></div>
	</div>
		</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough px-5">


			<div class="et_pb_module et_pb_text et_pb_text_12 et_animated  et_pb_text_align_center et_pb_bg_layout_dark">


				<div class="et_pb_text_inner"><h2>Call Us</h2>
			<p><a href="tel:+91 983 878 6108">+91 983 878 6108</a><br />
				<a href="tel: +91 798 294 7905"> +91 798 294 7905</a></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child px-5">


				<div class="et_pb_module et_pb_text et_pb_text_13 et_animated  et_pb_text_align_center et_pb_bg_layout_dark">


				<div class="et_pb_text_inner"><h2>Hours of Operation</h2>
			<p>Monday – Saturday<br /> 09:00 am – 05:00 pm</p></div>
			</div>
			</div>
</body>


{% endblock body %}